<h1>Potin</h1>
<p>Find me in app/views/gossip/show.html.erb</p>

<p> Autheur : <%= Gossip.find(@id).user.first_name %> </p>

<p>  Title : <%= Gossip.find(@id).title %> </p>
<p> Contenu : <%= Gossip.find(@id).content %>
  



